body {
	background-color: #181818;
	font-family: AgaveNerdFont;
}
.title {
	text-align: center;
	font-size: 5.75vh;
	color: #ffffff;
}
#contentDivider {
	background-color: gray;
	border-radius: 3rem;
	width: 60vw;
	height: 0.5vh;
	justify-self: center;
	margin: 2.5vh;
}
#texto {
	margin-left: 10vw;
	color: #ffffff;
	font-size: 3.5vh;
	text-align: justify;
	line-height: 150%;
	padding-right: 10vw; /*35 cuando ponga la imágen*/
}